---
---
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
body > header {
    padding-left: 18px;
}

html {
    background: #fff;
    line-height: 1;
}

body {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #222
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: initial;
    font-style: italic;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

a img {
    border: none
}

article, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

a {
    color: #268bd2
}

a:visited {
    color: #124466
}

a:focus {
    color: #32a7f9
}

a:hover {
    color: #32a7f9
}

a:active {
    color: #0682d8
}

a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.heading, body > header h1, h1, h2, h3, h4, h5, h6, #layer-controls a {
    font-family: "Open Sans", sans-serif
}

.sans, body > header h2, article header p.meta, article > footer, #content .blog-index footer, html .gist .gist-file .gist-meta, #blog-archives a.category, #blog-archives time, body > footer {
    font-family: "Open Sans", sans-serif
}

.serif, body, #content .blog-index a[rel=full-article] {
    font-family: "Noto Serif", serif
}

body > header h1 {
    font-size: 2.2em;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.6667em
}

body > header h2 {
    font-family: "Open Sans", sans-serif
}

h1 {
    font-size: 1.2em;
    line-height: 1.2em
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.15em
    }

    h1 {
        font-size: 1.2em;
        line-height: 1.2em
    }
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold
}

h2, section h1 {
    font-size: 1.5em
}

h3, section h2, section section h1 {
    font-size: 1.3em
}

h4, section h3, section section h2, section section section h1 {
    font-size: 1em
}

h5, section h4, section section h3 {
    font-size: .9em
}

h6, section h5, section section h4, section section section h3 {
    font-size: .8em
}

p, article blockquote, ul, ol {
    margin-bottom: 1.5em
}

ul {
    list-style-type: disc
}

ul ul {
    list-style-type: circle;
    margin-bottom: 0px
}

ul ul ul {
    list-style-type: square;
    margin-bottom: 0px
}

ol {
    list-style-type: decimal
}

ol ol {
    list-style-type: lower-alpha;
    margin-bottom: 0px
}

ol ol ol {
    list-style-type: lower-roman;
    margin-bottom: 0px
}

ul, ul ul, ul ol, ol, ol ul, ol ol {
    margin-left: 1.3em
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0em
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

sup, sub {
    font-size: 0.75em;
    position: relative;
    display: inline-block;
    padding: 0 .2em;
    line-height: .8em
}

sup {
    top: -.5em
}

sub {
    bottom: -.5em
}

a[rev='footnote'] {
    font-size: .75em;
    padding: 0 .3em;
    line-height: 1
}

q {
    font-style: italic
}

q:before {
    content: "\201C"
}

q:after {
    content: "\201D"
}

em, dfn {
    font-style: italic
}

strong, dfn {
    font-weight: bold
}

del, s {
    text-decoration: line-through
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help
}

hr {
    margin-bottom: 0.2em
}

small {
    font-size: .8em
}

big {
    font-size: 1.2em
}

article blockquote {
    font-style: italic;
    position: relative;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5)
}

article blockquote cite {
    font-style: italic
}

article blockquote cite a {
    color: #aaa !important;
    word-wrap: break-word
}

article blockquote cite:before {
    content: '\2014';
    padding-right: .3em;
    padding-left: .3em;
    color: #aaa
}

@media only screen and (min-width: 992px) {
    article blockquote {
        padding-left: 1.5em;
        border-left-width: 4px
    }
}


article a {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word
}

.group, body > header, nav.layer-controls, nav.site-nav, body > footer, body #content > article, body #content > div > article, body #content > div > section, body div.pagination, #main, #content, .sidebar {
    *zoom: 1
}

.group:after, body > header:after, nav.site-nav:after, body > footer:after, body #content > article:after, body #content > div > section:after, body div.pagination:after, #main:after, #content:after, .sidebar:after {
    content: "";
    display: table;
    clear: both
}

body {
    -webkit-text-size-adjust: none;
    position: relative;
    margin: 0 auto
}

nav.layer-controls, body > footer, body #content > article, body #content > div > article, body #content > div > section {
    padding-left: 18px;
    padding-right: 18px
}

@media only screen and (min-width: 480px) {
    body > header, nav.layer-controls, body > footer, body #content > article, body #content > div > article, body #content > div > section {
        padding-left: 25px;
        padding-right: 25px
    }
}

@media only screen and (min-width: 768px) {
    body > header, nav.layer-controls, body > footer, body #content > article, body #content > div > article, body #content > div > section {
        padding-left: 35px;
        padding-right: 35px
    }
}

@media only screen and (min-width: 992px) {
    body > header, nav.layer-controls, body > footer, body #content > article, body #content > div > article, body #content > div > section {
        padding-left: 55px;
        padding-right: 55px
    }
}

body div.pagination {
    margin-left: 18px;
    margin-right: 18px
}

@media only screen and (min-width: 480px) {
    body div.pagination {
        margin-left: 25px;
        margin-right: 25px
    }
}

@media only screen and (min-width: 768px) {
    body div.pagination {
        margin-left: 35px;
        margin-right: 35px
    }
}

@media only screen and (min-width: 992px) {
    body div.pagination {
        margin-left: 55px;
        margin-right: 55px
    }
}

body > header {
    font-size: 1em;
    z-index: 1;
    left: 0;
    width: 105%;
}
body > header.home-header {
    position: absolute;
}
#map-menu, #map-menu-control-show, #map-menu-control-hide, #map-menu-controls {
    z-index: 1;
    position: relative;
}

#content {
    overflow: hidden
}

#content > div, #content > article {
    width: 100%
}

.basic-alignment.left, article img.left, article video.left, article .left.flash-video {
    float: left;
    margin-right: 1.5em
}

.basic-alignment.right, article img.right, article video.right, article .right.flash-video {
    float: right;
    margin-left: 1.5em
}

.basic-alignment.center, article img.center, article video.center, article .center.flash-video {
    display: block;
    margin: 0 auto 1.5em
}

.basic-alignment.left, article img.left, article video.left, article .left.flash-video, .basic-alignment.right, article img.right, article video.right, article .right.flash-video {
    margin-bottom: .8em
}

@media only screen and (min-width: 550px) {
    body > header {
        font-size: 1em
    }
}
@media only screen and (min-width: 768px) {
    body {
        -webkit-text-size-adjust: auto
    }

    body > header {
        font-size: 1.2em
    }

    #main {
        padding: 0;
        margin: 0 auto
    }

    #content {
        overflow: visible;
        position: relative
    }

    .no-sidebar #content {
        margin-right: 0;
        border-right: 0
    }

    .collapse-sidebar #content {
        margin-right: 20px
    }

    #content > div, #content > article {
        padding-bottom: 17.5px;
        float: left
    }

}

@media only screen and (min-width: 992px) {
    body > header {
        font-size: 1.3em
    }

    #content > div, #content > article {
        padding-bottom: 27.5px
    }

}

@media only screen and (min-width: 768px) {
    ul, ol {
        margin-left: 0
    }
}

body > header {
    background: #fff;
    line-height: .8em;
}


body > header h1 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
}

body > header h2 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    position: relative;
    top: -.5em;
}

body > header nav.site-nav {
    display: inline-block;
    font-size: .65em;
    position: relative;
    top: -.1em;
}

body > header img#logo {
    width: .8em;
    height: .8em;
}

body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
    color: #268bd2;
    text-decoration: none
}

body > header h2 {
    margin: 0 0 0 0;
    font-size: .5em;
    color: #aaa;
    font-weight: normal
}

nav.site-nav {
    position: relative;
    background-color: #fff;
    background: none, #fff;
    padding-bottom: .35em;
    text-align: right;
}
nav.padding-top {
    padding-top: 50px;
}

nav.site-nav form {
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin: 0;
    padding: 0
}

nav.site-nav form .search {
    padding: .3em .5em 0;
    font-size: .85em;
    font-family: "Open Sans", sans-serif;
    line-height: 1.1em;
    width: 95%;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: #fff 0 1px;
    -moz-box-shadow: #fff 0 1px;
    box-shadow: #fff 0 1px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #888
}

nav.site-nav form .search:focus {
    color: #444;
    border-color: #80b1df;
    -webkit-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
    -moz-box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
    box-shadow: #80b1df 0 0 4px, #80b1df 0 0 3px inset;
    background-color: #fff;
    outline: none
}

nav.site-nav fieldset[role=search] {
    float: right;
    width: 48%
}

nav.site-nav fieldset.mobile-nav {
    float: left;
    width: 48%
}

nav.site-nav fieldset.mobile-nav select {
    width: 100%;
    font-size: .8em;
    border: 1px solid #888
}

nav.site-nav ul {
    display: none
}

nav.site-nav {
    font-size: .65em;
}

nav.site-nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    float: left;
    display: block;
    padding-top: .15em
}

nav.site-nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 0
}

nav.site-nav a {
    color: #268bd2;
    font-family: "Open Sans", sans-serif;
    text-shadow: #fff 0 1px;
    float: left;
    text-decoration: none;
    font-size: 1.1em;
    padding: .1em 0;
    line-height: 1.5em
}

nav.site-nav a:visited {
    color: #268bd2
}

nav.site-nav a:hover {
    color: #124466
}

nav.site-nav li + li {
    border-left: 1px solid #e3e3e3;
    margin-left: .8em
}

nav.site-nav li + li a {
    padding-left: .8em;
    border-left: 1px solid #fff
}

nav.site-nav fieldset.mobile-nav {
    display: none
}

article {
    padding-top: .5em
}

article header {
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
}

article header h1 {
    margin: 0
}

article header h1 a {
    text-decoration: none
}

article header h1 a:hover {
    text-decoration: underline
}

article header p {
    font-size: .9em;
    color: #aaa;
    margin: 0
}

article header p.meta {
    text-transform: uppercase;
    position: absolute;
    top: 0
}

@media only screen and (min-width: 768px) {
    article header {
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
    }
}

article h2 {
    padding-top: 0.8em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

.entry-content article h2:first-child, article header + h2 {
    padding-top: 0
}

article h2:first-child, article header + h2 {
    background: none
}

article .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
    font-size: 2.0em;
    font-style: italic;
    line-height: 1.3em
}

article video, article .flash-video {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid
}

article video, article .flash-video {
    margin: 0 auto 1.5em
}

article video {
    display: block;
    width: 100%
}

article .flash-video > div {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
    overflow: hidden
}

article .flash-video > div iframe, article .flash-video > div object, article .flash-video > div embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

article > footer {
    padding-bottom: 2.5em;
    margin-top: 2em
}

article > footer p.meta {
    margin-bottom: .8em;
    font-size: .85em;
    clear: both;
    overflow: hidden
}

.blog-index article + article {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

#content .blog-index {
    padding-top: 0;
    padding-bottom: 0
}

#content .blog-index article {
    padding-top: 2em
}

#content .blog-index article header {
    background: none;
    padding-bottom: 0
}

#content .blog-index article h1 {
    font-size: 2.2em
}

#content .blog-index article h1 a {
    color: inherit
}

#content .blog-index article h1 a:hover {
    color: #32a7f9
}

#content .blog-index a[rel=full-article] {
    background: #f2f2f2;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s
}

#content .blog-index a[rel=full-article]:hover {
    background: #32a7f9;
    text-shadow: none;
    color: #fff
}

#content .blog-index footer {
    margin-top: 1em
}

.separator, article > footer .byline + time:before, article > footer time + time:before, article > footer .comments:before, article > footer .byline ~ .categories:before {
    content: "\2022 ";
    padding: 0 .4em 0 .2em;
    display: inline-block
}

#content div.pagination {
    text-align: center;
    font-size: .95em;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

#content div.pagination a {
    text-decoration: none;
    color: #aaa
}

#content div.pagination a.prev {
    position: absolute;
    left: 0
}

#content div.pagination a.next {
    position: absolute;
    right: 0
}

#content div.pagination a:hover {
    color: #32a7f9
}

#content div.pagination a[href*=archive]:before, #content div.pagination a[href*=archive]:after {
    content: '\2014';
    padding: 0 .3em
}

p.meta + .sharing {
    padding-top: 1em;
    padding-left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

#fb-root {
    display: none
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
    border: 1px solid #05232b !important
}

.highlight table td.code, html .gist .gist-file .gist-syntax .gist-highlight table td.code {
    width: 100%
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
    text-align: right;
    font-size: 13px;
    line-height: 1.45em;
    background: #073642 url('/images/noise.png?1399926185') top left !important;
    border-right: 1px solid #00232c !important;
    -webkit-box-shadow: #083e4b -1px 0 inset;
    -moz-box-shadow: #083e4b -1px 0 inset;
    box-shadow: #083e4b -1px 0 inset;
    text-shadow: #021014 0 -1px;
    padding: .8em !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.highlight .line-numbers span, html .gist .gist-file .gist-syntax .highlight .line_numbers span {
    color: #586e75 !important
}

#archive #content > div, #archive #content > div > article {
    padding-top: 0
}

#blog-archives {
    color: #aaa
}

#blog-archives article {
    padding: 1em 0 1em;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
}

#blog-archives article:last-child {
    background: none
}

#blog-archives article footer {
    padding: 0;
    margin: 0
}

#blog-archives h1 {
    color: #222;
    margin-bottom: .3em
}

#blog-archives h2 {
    display: none
}

#blog-archives h1 {
    font-size: 1.5em
}

#blog-archives h1 a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    display: inline-block
}

#blog-archives h1 a:hover {
    text-decoration: underline
}

#blog-archives h1 a:hover {
    color: #32a7f9
}

#blog-archives a.category, #blog-archives time {
    color: #aaa
}

#blog-archives .entry-content {
    display: none
}

#blog-archives time {
    font-size: .9em;
    line-height: 1.2em
}

#blog-archives time .month, #blog-archives time .day {
    display: inline-block
}

#blog-archives time .month {
    text-transform: uppercase
}

#blog-archives p {
    margin-bottom: 1em
}

#blog-archives a, #blog-archives .entry-content a {
    color: inherit
}

#blog-archives a:hover, #blog-archives .entry-content a:hover {
    color: #32a7f9
}

#blog-archives a:hover {
    color: #32a7f9
}

@media only screen and (min-width: 550px) {
    #blog-archives article {
        margin-left: 5em
    }

    #blog-archives h2 {
        margin-bottom: .3em;
        font-weight: normal;
        display: inline-block;
        position: relative;
        top: -1px;
        float: left
    }

    #blog-archives h2:first-child {
        padding-top: .75em
    }

    #blog-archives time {
        position: absolute;
        text-align: right;
        left: 0em;
        top: 1.8em
    }

    #blog-archives .year {
        display: none
    }

    #blog-archives article {
        padding-left: 4.5em;
        padding-bottom: .7em
    }

    #blog-archives a.category {
        line-height: 1.1em
    }
}

#content > .category article {
    margin-left: 0;
    padding-left: 6.8em
}

#content > .category .year {
    display: inline
}


body > footer {
    font-size: .8em;
    color: #888;
    text-shadow: #fff 0 1px;
    background-color: #fff;
    background: #fff, #fff;
    border-top: 1px solid #f2f2f2;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 3em;
    -moz-border-radius-bottomleft: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -moz-border-radius-bottomright: 0.4em;
    -webkit-border-bottom-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    z-index: 1
}

body > footer a {
    color: #9e9e9e
}

body > footer a:visited {
    color: #9e9e9e
}

body > footer a:hover {
    color: #484848
}

body > footer p:last-child {
    margin-bottom: 0
}

nav.site-nav li + li {
    border-left: 2px solid #f2f2f2
}

nav.site-nav a {
    font-family: "Noto Serif", serif
}

body > header h1 a {
    font-weight: bold
}

body #content .blog-index article header h1 {
    margin: 0
}

body #content .blog-index article header h1 a {
    text-decoration: none
}

body #content .blog-index article header h1 a:hover {
    text-decoration: none;
    color: #268bd2
}

body #blog-archives h1 a {
    text-decoration: none
}

body #blog-archives h1 a:hover {
    text-decoration: none
}

body .toggle-sidebar {
    display: none
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.3em
    }
}

.meta {
    font-family: "Noto Serif", serif
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100
}

::-webkit-input-placeholder {
    color: #268bd2
}

:-moz-placeholder {
    color: #268bd2
}

::-moz-placeholder {
    color: #268bd2
}

:-ms-input-placeholder {
    color: #268bd2
}

#map-menu, #news-flash, #instructions-screen {
    margin-top: 60px;
    position: fixed;
    top: 0px;
    display:none;
}

#map-menu-control-show a {

    cursor: auto;
    border-radius: 8px;
}
.menu-control-close {display: none;}
#map-menu-control-show {
    -webkit-animation: pulsate 1s infinite alternate;
    -moz-animation: pulsate 1s infinite alternate;
    animation: pulsate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}
@-webkit-keyframes pulsate {
    from {opacity: 0; }
    to {opacity: 1; -webkit-transform: scale(1.2, 1.2)}
}
@-moz-keyframes pulsate {
    from {opacity: 0; }
    to {opacity: 1; -moz-transform: scale(1.2, 1.2)}
}
@keyframes pulsate {
    from {opacity: 0; }
    to {opacity: 1; transform: scale(1.2, 1.2)}
}
div#map-menu-controls {
    width: 3em;
    text-align: right;
    height: 1em;
    position: fixed;
    top: 0px;
    right: .1em;
    font-size: 1.8em;
}
.pop-up-control-close {
    float: right;
    font-family: "Courier New";
    font-weight: bold;
    text-decoration: none;
    font-size: 1.8em;
    z-index: 3;
    margin-right: .5em;
    position: relative;
}
#map-menu-control-show, #map-menu-control-help {
    font-family: "Courier New";
    font-weight: bold;
    text-decoration: none;
}
#underground-manchester-map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}
#feature-map {
    width: 100%;
    height: 250px;
}

/* Map */

.layer-controls {
    padding: 1em 55px 0 55px;
}
.layer-controls a {
    color: #404040;
    display: inline-block;
    margin: 0 1em 1em 0;
    line-height:6em;
    padding: 0 .5em 0 .5em;
    width: 11em;
    text-decoration: none;
    text-align: center;
    font-size: .6em;
    position: relative;
    border-radius:1em;
    border: none;
    background-image: repeating-linear-gradient(315deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
}
.layer-controls a span {
    vertical-align: middle;
}
.layer-controls a:hover {
    color:#404040;
}
.layer-controls a.active {
    background:#3887BE;
    color:#FFF;
}
.layer-controls a.active:hover {
    background:#3074a4;
    color:#404040;
}

.read-more {
    text-align: right;
}
.feature-pin {
    text-decoration: none;
    font-weight: normal;
}
.leaflet-container p {font-size: 1em !important;}

.locate-icon {
    font-family: FontAwesome;
}

.feature-label {
    background: none;
    width: 20em !important;
    height: auto !important;
    font-weight: bold;
    text-align: left;
    margin-left: -0.2em !important;
    margin-top: -0.8em !important;
    text-shadow:
        0.1em 0.1em 0 white,
        0.1em -0.1em 0 white,
        -0.1em 0.1em 0 white,
        -0.1em -0.1em 0 white;
}

.figure-left {
    clear: left;
    float: left;
    margin: 0 .5em .5em 0;
    vertical-align: top;
}
.figure-right {
    clear: right;
    float: right;
    margin: 0 0 .5em .5em;
    vertical-align: top;
}

.figure-inline-left {
    float: left;
    margin: 0 .5em .5em 0;
    vertical-align: top;
}
.figure-inline-right {
    float: right;
    margin: 0 0 .5em .5em;
    vertical-align: top;
}

figure {
    position: relative;
}
figcaption {
    font-size: 80%;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    text-shadow: 0 0 2px #000000;
}
figcaption a, figcaption a:visited, figcaption a:hover {
    color: white;
}

.news-flash-message {
    font-size: 14pt;
    margin-right: 1em;
}
.map-overlay {
    padding: 53px 55px 0 55px;
}
.map-overlay h3 {
    padding-top: 1em;
}
.suspended-message {
    padding: 53px 55px 0 55px;
}
.suspended-message h3 {
    padding-top: 1em;
}
div.suspended-message nav.suspended-nav {
    padding: 0; !important;
}