---
layout: page
title: Features of Hidden Manchester
---
Here each feature in the map is listed by the layer it belongs to. 
{% for collection in site.collections %}
    
    <h3><a href={{collection[0]}}.html>{{ collection[1].title }}</a></h3>
    <p>{{collection[1].description}}</p>
    {% for feature in collection[1].docs %}
      <h4>{{ feature.title }} <a class=feature-pin href=/#{{feature.id}}>📍</a></h4>
      <p>
        {{ feature.description }}
        {% if feature.read_more %}
        <br><a href={{feature.id}}.html>Read more…</a>
        {% endif %}
      </p>
    {% endfor %}
{% endfor %}