---
layout: home
---
<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
  <article>
    {% include article.html %}
  </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
    <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    {% comment %}
    <a href="/blog/archives">Blog Archives</a>
    {% endcomment %}

    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HiddenManc" data-widget-id="640501321938944001">Tweets by @HiddenManc</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>`M
  </div>
</div>
