---
layout: feature
title: "Bricked Up Doorway Next To Barton Memorial Arch"
features: '[{"type": "Feature", "geometry": {"coordinates": [-2.354074, 53.475722, 0],"type": "Point"}}]'
stroke_width: 4
date: 2018-06-02 19:44:01 +0100
---
<p>Here there is a bricked up doorway and two grilles leading to a space with white ceramic tiles (as <a href=https://www.reddit.com/r/manchester/comments/8n9qpk/interactive_map_of_the_underground_networks/dzvpbqi/ target=_blank rel='noopener noreferrer'>reported on Reddit</a>). A number of people have written to suggest that the space is an old public toilet. A local resident wrote:
</p>
<blockquote>The Bricked up doorway on Barton used to be Public Toilets until around 1970, until new ones were built directly opposite, which is now a park.
    <br>
    …
    <br>
    The Toilets was used by the Barge people carrying good above on the canal. From what I can remember you went in through a single door, Gents to the left and Ladies to the right.
</blockquote>

{% include figure.html image="/images/barton-aqueduct/barton-aqueduct-public-toilets.jpg" caption="Bricked up public toilets" height="250" class="figure-inline-right" alt="Photo of Bricked up public toilets at Barton Aqueduct" %}
{% include figure.html image="/images/barton-aqueduct/barton-memorial-arch.jpg" caption="Barton Memorial Arch" height="250" class="figure-inline-right" alt="Photo of Barton Memorial Arch" %}

<p>Next to the bricked up doorway is the Barton Memorial Arch. This marks the location of James Brindley’s original <a href=https://en.wikipedia.org/wiki/Barton_Aqueduct target=_blank rel='noopener noreferrer'>Barton Aqueduct</a> and is constructed from one of the relocated arches along with a tablet with the below inscription.
</p>

<blockquote>This arch originally formed part of the famous Barton Aqueduct, and spanned this road at a point 15 yards east of this tablet. It was removed to allow of Barton Lane being widened in 1893 and re-erected in its present position in 1834 by the Eccles Corporation.</blockquote>
