{% assign collection = site.collections | where: "label", page.collection_id | first %}
{% for feature in collection.docs | sort:'title' %}
{% capture content_words %}{{ feature.content | number_of_words }}{% endcapture %}
{% capture description_words %}{{ feature.description | number_of_words }}{% endcapture %}
{% assign excerpted = '' %}
{% if content_words != '0' and description_words != content_words %}{% assign excerpted = 'true' %}{% endif %}
<h4><a name=feature-{{feature.id}}></a>
    {% if excerpted == 'true' %}<a href={{page.collection_id}}/{{feature.id}}.html>{% endif %}{{ feature.title }}{% if excerpted == 'true' %}</a>{% endif %}
    <a class=feature-pin href=/#{{feature.id}}>📍</a>
</h4>
<p>
    {{ feature.description }}
    {% if excerpted == 'true' %}
    <br><a href={{page.collection_id}}/{{feature.id}}.html>Read more…</a>
    {% endif %}
</p>
{% endfor %}