<div id="map-menu-controls"><a id="map-menu-control-help" href="#" onclick="alert('Click the shapes in the map for information then copy the URL to share specific features. Click the menu icon to hide and show layers or navigate to other pages.')">?</a> <a id="map-menu-control-show" href=# onclick="showMenu()">&#8801;</a><a id="map-menu-control-close" href=# onclick="hideMenu()">&#10005;</a></div>
<div id="map-menu">
    {% include navigation.html %}
    <nav id='layer-controls' class='layer-controls'></nav>
</div>
<div id="underground-manchester-map"></div>
<script src="javascripts/map.js"></script>
<!--<iframe src="https://mapsengine.google.com/map/embed?mid=zhI2ymYyfN-E.kon74VdvYwbw" width="100%" height="480"></iframe>-->
