---
---
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <header role="banner">
    {% include header.html %}
  </header>
  {% unless site.suspended %}
    <div style="position: relative;"><div id="feature-map"></div></div>
  {% endunless %}
  <div id="content">
    <div>
      <article role="article">
        <h1><a href=/{{page.collection}}.html>{{ site.collections[page.collection].title }}</a> > {{ page.title }} <a class=feature-pin href=/#{{page.id}}>📍</a></h1>
        {{ content }}
        <p style="clear: both"><a href="/#{{page.id}}">Back to the map</a></p>
      </article>
    </div>
  </div>
  {% unless site.suspended %}
  <script>
    // Provide your access token
    L.mapbox.accessToken = 'pk.eyJ1IjoibWFya2Nyb3NzZmllbGQiLCJhIjoiYjJjNzliNGEwNjNiYTU1YjA4YTlkNjhkNmNmMjJlYzgifQ.2jm00t_mEEW5wEk6Ytzp2g';
    var economy = {{site.economy}};
    var satellite = L.mapbox.styleLayer('mapbox://styles/mapbox/satellite-v9');
    var baseLayer = economy ? satellite : L.mapbox.styleLayer('mapbox://styles/markcrossfield/ckhb3zmly05e319o4bym8mz0i');
    
    var map = L.mapbox.map('feature-map').addLayer(baseLayer);
    map.scrollWheelZoom.disable();

    {% assign collection = site.collections | where: "label", page.collection | first %}
    var featureGeoJSON = {
      "type": "FeatureCollection",
      "features": {{ page.features }}
        .map(
          function(geoFeature) {
            var featureProperties = {
              "weight": 4,
              "color": "{{ collection.color }}",
              "opacity": 1,
              "fillOpacity": 0.5
            };
            Object.assign(featureProperties, geoFeature.properties);
            geoFeature.properties = featureProperties;
            geoFeature.collectionId = "{{ page.id }}";
            return geoFeature;
          }
        ),
      "id": "{{ feature.id }}"
    };
    var singleFeatureLayer = L.geoJson(featureGeoJSON,
        {
            pointToLayer: function (geoFeature) {
                return L.marker(
                    [geoFeature.geometry.coordinates[1],geoFeature.geometry.coordinates[0]],
                    {
                        icon:L.mapbox.marker.icon(
                            {
                                'marker-size': "",
                                'marker-symbol': "{{ collection.marker_symbol }}",
                                'marker-color': "{{ collection.color }}"
                            }
                        ),
                        title: "{{ feature.title }}",
                    }
                );
            },
            style: function (geoFeature) {
                return geoFeature.properties;
            }
        })
        .addTo(map);

    {% for label in page.labels %}
    L.marker([{{label.latitude}}, {{label.longitude}}], {
        icon: L.divIcon({
            className: 'feature-label',
            html: '•&nbsp;&nbsp;{{label.text}}',
        })
    }).addTo(map);
    {% endfor %}

    map.fitBounds(singleFeatureLayer.getBounds())

  </script>
  {% endunless %}

  {% include after_footer.html %}
</body>
</html>